@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*
    Usamos el nuevo color de fondo y de texto definidos en el tema
    y nos aseguramos de que no haya una imagen de fondo.
  */
  background-color: theme('colors.masters.light');
  color: theme('colors.masters.dark');
  background-image: none;
}
